$margin-size: 8px;
$screen-sm: 544px;
$light-gray-4: #b4b8cc;
$dark-gray-1: #3e4152;
.form-twocolums-wrapper {
    @media screen and (min-width: $screen-sm) {
        margin-right: $margin-size;
    }
}

.validate-form-control {
    position: relative;
    width: 100%;
    padding-bottom: $margin-size;

    &.left {
        @media screen and (min-width: $screen-sm) {
            display: inline-block;
            width: 50%;
        }
    }
    &.right {
        @media screen and (min-width: $screen-sm) {
            width: 50%;
            float: right;
            left: $margin-size;
        }
    }

    input {
        padding: 5px 10px;
        height: 42px;
        width: 100%;
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
        border: 1px solid $light-gray-4;
        border-radius: 3px;
        color: $dark-gray-1;
    }
    textarea {
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
        border: 1px solid $light-gray-4;
        border-radius: 3px;
        color: $dark-gray-1;
        height: 120px;
        padding: 5px 10px;
        resize: none;
        width: 100%;
    }

    &.has-error {
        input, textarea {
            padding: 10px 10px 0px 10px;
            background-color: $input-error-background;
            border-color: $input-error-border;
        }

        label.error {
            position: absolute;
            left: 12px;
            top: 2px;
            text-transform: uppercase;
            font-size: 12px;
            color: $input-error-foreground;
            width: 96%;
            text-align: left;
        }
    }

    &.has-feedback {
        input, textarea {
            padding-right: 110px;
        }

        label.feedback {
            position: absolute;
            right: 5px;
            line-height: 42px;
            font-size: 13px;
            z-index: 20;
            pointer-events: all;
            font-weight: 600;
        }
    }
}

.checkbox-container {
    margin: 0 auto 10px auto;
    @media screen and (min-width: $screen-sm) {
        width: 100%;
        padding: 5px;
    }
    .label {
        vertical-align: text-bottom;
        margin-bottom: 0;
        margin-left: 29px;
        display: block;
        text-align: left;
        a {
            color: inherit;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .custom-checkbox {
        background: white;
        border: 2px solid $medium-gray-2;
        border-radius: 2px;
        cursor: pointer;
        float: left;
        width: 18px;
        height: 18px;
        margin-top: 3px;
        .icon-check-mark {
            display: none;
        }
        &.checked {
            background: $turquoise-2;
            border: none;
            padding: 3px;
            .icon-check-mark {
                color: white;
                display: inline;
                float: left;
                font-size: 12px;
            }
        }
    }
}
