.generic-form {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    input, textarea {
        &::-webkit-input-placeholder{
            font-style: italic;
            color: $medium-gray-2;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            font-style: italic;
            color: $medium-gray-2;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            font-style: italic;
            color: $medium-gray-2;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-style: italic;
            color: $medium-gray-2;
        }
    }
    input[disabled] {
        background: #dddfeb ;
        box-shadow: none;
        color: $medium-gray-1;
    }
    .text-content {
            padding: 10px;
        &.large {
            font-size: 18px;
            .primary-link {
                display: block;
                @media screen and (min-width: $screen-sm) {
                    display: inline-block;
                }
            }
        }

        &.error {
            color: $red-2;
        }

        &.title {
            font-size: 24px;
            font-weight: 600;
            color: $dark-gray-4;
        }

        &.light-title {
            font-size: 18px;
            font-weight: 300;
            color: $dark-gray-3;
        }

        a {
            color: $light-blue-4;
            &.green-btn {
                color: $light-green-2;
            }
        }
    }
}
