// for colors with darker shade use the most higher index name for the darker shade 

$black: #000000;
$home-top-bg: #0f314e;
$product-top-bg: #31333d;

$blue-1: #36aae0;
$blue-2: #13729e;
$blue-3: #106186;
$blue-4: #0e5778;

$dark-blue: #13729E;

$dark-gray-1: #3e4152;
$dark-gray-2: #2f313d;
$dark-gray-3: #292a33;
$dark-gray-4: #212229;

$green-1: #3c9e6a;
$green-2: #33865a;
$green-3: #2e7851;

$light-gray-1: #ebedf5;
$light-gray-2: #eeeeee;
$light-gray-3: #d3d6e5;
$light-gray-4: #b4b8cc;

$light-green: #F4F4F4;

$light-blue-1: #67b8d6;
$light-blue-2: #589db6;
$light-blue-3: #589db6;
$light-blue-4: #1479a8;

$light-blue-gray-1: #ebf5ff;
$light-blue-gray-2: #e1ebf5;
$light-blue-gray-3: #ceddeb;
$light-blue-gray-4: #bcd0e0;

$light-green-1: #F4F4F4;
$light-green-2: #14B1AA;

$input-error-foreground: #a80016;
$input-error-background: #ffe8eb;
$input-error-border: #cc6a77;

$medium-gray-1: #8d92a8;
$medium-gray-2: #7d8299;
$medium-gray-3: #62667a;
$medium-gray-4: #5a5d70;

$red-1: #c24a5a;
$red-2: #a53f4d;
$red-3: #943844;

$turquoise-1: #42c2c2;
$turquoise-2: #00a3a3;
$turquoise-3: #008f8f;
$turquoise-4: #008080;

$yellow-1: #e0a955;
$yellow-2: #bf9048;
$yellow-3: #aa8141;

$white: #ffffff;